Webinarek/obj
Webinarek/packages
Webinarek/Webinarek.Domain/obj
Webinarek/Webinarek.WebUI/obj
Webinarek/Webinarek.WebUI/bin
Webinarek/.vs
Webinarek/Webinarek.WebUI/App_Data/aspnet-Webinarek-20181015063448_log.ldf
Webinarek/Webinarek.WebUI/App_Data/aspnet-Webinarek-20181015063448.mdf
