@model Webinarek.Models.KursViewModel
@{
    ViewBag.Title = "Display";
}

<h2>@Model.Name</h2>


<p>
    Wyświetlanie Display
</p>
@{Html.RenderAction("WebinarsForKurs", "Webinar", new { id = Model.Id });}
