@model System.Collections.Generic.List<Webinarek.Models.Entity.Kurs>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var kurs in Model)
{
    @kurs.Nazwa
    @kurs.Opis
    <p>
        sndjnsajdnsa
    </p>
}
