@model System.Collections.Generic.List<Webinarek.Models.Entity.Kurs>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table table-bordered table-responsive table-hover">

    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Kategoria</th>
            <th>Akcje</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var kurs in Model)
        {

            <tr>
                <td>@kurs.Name</td>
                <td>@kurs.Description</td>
                <td>@kurs.Category</td>
                <td><a href="/Kurs/Addedit/@kurs.ID">Edytuj</a> <a href="/Kurs/Display/@kurs.ID">Wyświetl</a></td>
                
                <!--dodanie edytora -- patrz webinar-->
            </tr>
         }
    </tbody>
</table>








