@{
    ViewBag.Title = "Pomoc - napisz do nas";
}
<h2>@ViewBag.Title</h2>
@*@<h3>@ViewBag.Message</h3>*@

<address>
    Webinarek Sp. z o.o.<br />
    Opole<br />
    <abbr title="Phone">telefon:</abbr>
    000 0000 
</address>

<address>
    <strong>Biuro:</strong>   <a href="mailto:Support@example.com">webinarek@webinarek.pl</a><br />
    <strong>Pomoc:</strong> <a href="mailto:Marketing@example.com">pomoc@webinarek.pl</a>
</address>