@{
    ViewBag.Title = "Zmiana hasła - krok 1";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Proszę sprawdż swój email, żeby zresetować hasło.
    </p>
</div>
	
